.air.toml
.docker
.DS_Store
.editorconfig
.git
.github
.gitignore
.idea
.prettierignore
.prettierrc.json
.vscode
.yamllint
.yarn
docker-compose.yml
Dockerfile
docs
LICENSE
renovate.json
tmp

**/node_modules
**.env
**.log
**.md
**.tpl
