---
name: PR Labeler

on:
  - pull_request_target

permissions:
  contents: read

jobs:
  label:
    if: github.actor != 'renovate[bot]'
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e  # v2.14.2
        with:
          egress-policy: audit
          allowed-endpoints: >
            api.github.com:443

      - uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b  # v6.0.1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
